{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    <ul>
        {% if page_obj.has_previous %}
            <li class="prev"><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
        {% else %}
            <li class="prev disabled"><a href="#">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
        {% endif %}
        {% for page in pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                <li class="active"><a href="#"><span class="active">{{ page }}</span></a></li>
                {% else %}
                <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
            <li><a href="#">...</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="next"><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
        {% else %}
            <li class="next disabled"><a href="#">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
